:host {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color-caption);
  text-align: center;
  padding: var(--app-pane-padding);

  h1 {
    font-size: var(--font-display);
    font-weight: var(--font-weight-light);
  }
  > div {
    font-size: var(--font-title);
    font-weight: var(--font-weight-light);
  }
  button {
    margin-top: calc(var(--app-pane-padding) * 2);
  }
}
