<div class="testing-controls">
    <button (click)="setQuery(storedQuery)">load query</button>
    <button (click)="setQuery(null)">clear query</button>
</div>

<!-- <yuv-quick-search [query]="query" (querySubmit)="onSubmit($event)"></yuv-quick-search> -->
<yuv-quick-search #quickSearch [query]="query" (typeAggregation)="onTypeAggregation($event)"
    (querySubmit)="onSubmit($event)"></yuv-quick-search>

<yuv-quick-search [inline]="true"></yuv-quick-search>


<div class="aggs" *ngIf="aggs">
    <div *ngFor="let a of aggs" (click)="applyAggregation(a)">
        {{a.label}}/{{a.count}}
    </div>
</div>