.history-filter {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "search filter";
}

.search { 
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "filter_icon filter_input clear_icon";
    grid-area: search;
}

.filter_icon { grid-area: filter_icon; }

.filter_input { grid-area: filter_input; }

.clear_icon { grid-area: clear_icon; }

.filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "modification process informational";
    grid-area: filter;

    .selection-filter {
        min-height: 0;
        min-width: 0;
        cursor: pointer;
        padding: 0 calc(var(--app-pane-padding)/ 2);

        &:before {
            content: '';
            flex: 0 0 auto;
            display: block;
            margin: 0 calc(var(--app-pane-padding)/ 4);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--color-white);
            border: 2px solid var(--text-color-hint);
            z-index: 1;
        }
    }
}

.modification { 
    grid-area: modification;

    &:before {
        border-color: var(--color-favorite);
    }    
}

.process { 
    grid-area: process;
    
    &:before {
        border-color: var(--color-error);
    } 
}

.informational { 
    grid-area: informational;

    &:before {
        border-color: var(--color-success);
    }     
}