<div class="testing-controls">
    <button (click)="showContextPicker()">Open picker in dialog</button>
</div>

<div class="cmp">
    <yuv-context-picker (contextSelect)="onPickerResult($event)"></yuv-context-picker>
</div>

<div class="selected" *ngIf="selectedObject">
    {{selectedObject.title}}<br>
    {{selectedObject.description}}
</div>


<!-- template to be rendered by popover service -->
<ng-template #tplContextPicker let-data let-popover="popover">
    <yuv-context-picker (cancel)="onPickerCancel(popover)" (contextSelect)="onPickerResult($event, popover)">
    </yuv-context-picker>
</ng-template>