:host {
  display: block;
  height: 100%;
  box-sizing: border-box;
  padding: var(--app-pane-padding);

  yuv-search-result.content {
    border-top: 1px solid var(--panel-divider-color);
    background-color: var(--panel-background);
  }

  ::ng-deep {
    .yuv-panel-wrapper > .header .status {
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }
  }

  ::ng-deep {
    .ag-cell.aggDone {
      span {
        display: flex;
        align-items: center;
        padding: 2px 4px;
        font-size: var(--font-caption);
        border-radius: 4px;
        svg {
          width: 18px;
          height: 18px;
          margin-right: calc(var(--app-pane-padding) / 3);
        }

        &.red {
          color: #fff;
          background-color: var(--color-error);
        }
        &.green {
          color: #fff;
          background-color: var(--color-success);
        }
      }
    }
  }
}
