.dark {
  // main backgrounds
  --main-background: rgb(40, 40, 40);
  --color-primary-rgb: 48, 48, 48;
  --color-primary: rgb(var(--color-primary-rgb));

  // form
  --color-dirty-background: rgba(var(--color-accent-rgb), 0.4);
  --color-dirty-font: #fff;

  // panel background colors DARK MODE
  --panel-background: var(--color-primary);
  --panel-background-grey: rgb(55, 55, 55);
  --panel-background-lightgrey: rgb(58, 58, 58);
  // --panel-divider-color: rgba(255, 255, 255, 0.1);
  --panel-divider-color: rgb(69, 69, 69);
  --item-focus-background-color: rgba(255, 255, 255, 0.1);
  --item-focus-border-color: rgba(255, 255, 255, 0.2);
  --app-bar-background: var(--panel-background);
  --scrollbar-thumb-color: rgba(255, 255, 255, 0.1);

  // text colors DARK MODE
  --text-color-body: #fff;
  --text-color-caption: rgba(255, 255, 255, 0.75);
  --text-color-hint: rgba(255, 255, 255, 0.5);
}
