<section class="inbox-wrapper" *ngIf="inboxData$ | async as inboxData; else empty">
  <yuv-responsive-master-slave class="state" [layoutOptionsKey]="layoutOptionsKey" [slaveActive]="!!detailsTask"
    (slaveClosed)="onSlaveClosed()">
    <yuv-process-list class="yuv-master panel" [showFooter]="true" [headerDetails]="headerDetails"
      [layoutOptionsKey]="layoutOptionsKey" [processData]="inboxData" (refreshList)="refreshList()"
      (selectedItem)="selectedItem($event)"></yuv-process-list>
    <section class="yuv-slave panel">


      <yuv-task-details [task]="detailsTask" [layoutOptionsKey]="layoutOptionsKey" [plugins]="plugins"
        [emptyMessage]="'yuv.client.state.inbox.confirm' | translate" (remove)="remove($event)">
      </yuv-task-details>
    </section>
  </yuv-responsive-master-slave>
</section>

<ng-template #empty>
  <yuv-process-list-empty [state]="'inbox'" [headerDetails]="headerDetails" [loading]="loading$"
    [message]="'yuv.client.state.inbox.list.empty'| translate" (refresh)="refreshList()"></yuv-process-list-empty>
</ng-template>