<ng-container [yuvTitle]="('yuv.client.state.process.title' | translate)"></ng-container>
<section class="processes-wrapper" *ngIf="processData$ | async as processData">
  <yuv-responsive-master-slave class="state" [layoutOptionsKey]="layoutOptionsKey" [slaveActive]="!!selectedProcess"
    (slaveClosed)="onSlaveClosed()">
    <yuv-process-list class="yuv-master panel" [showFooter]="true" [headerDetails]="headerDetails"
      [layoutOptionsKey]="layoutOptionsKey" [processData]="processData" [statusFilter]="'running'"
      (statusFilterChange)="onStatusFilterChange($event)" (refreshList)="refreshList()"
      (selectedItem)="selectedItem($event)" (termFilterChange)="onTermFilterChange($event)"></yuv-process-list>
    <section class="yuv-slave panel">
      <yuv-process-details [process]="selectedProcess" [layoutOptionsKey]="layoutOptionsKey" [plugins]="plugins">
      </yuv-process-details>
    </section>
  </yuv-responsive-master-slave>
</section>