<section class="processes-wrapper" *ngIf="processData$ | async as processData">
  <yuv-responsive-master-slave class="state"
    (slaveClosed)="onSlaveClosed()"
    [layoutOptionsKey]="layoutOptionsKey"
    [slaveActive]="itemIsSelected">
    <yuv-process-list class="yuv-master panel" [processData]="processData" (refreshList)="refreshList()" (selectedItem)="selectedItem($event)"></yuv-process-list>
    <section class="yuv-slave panel">
      <yuv-object-details [disableFileDrop]="true" [dmsObject]="dmsObject$ | async"
        [panelOrder]="['summary', 'indexdata', 'preview']" [layoutOptionsKey]="layoutOptionsKey">
      </yuv-object-details>
    </section>
  </yuv-responsive-master-slave>
</section>