.login {
  :host-context(.screen-s) & {
    min-width: 100vw;
  }
}

:host {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .login {
    width: 20%;
    max-width: 600px;
    min-width: 400px;
    position: relative;

    > div.header {
      background-color: var(--color-primary);
      padding: var(--app-pane-padding) var(--app-pane-padding) calc(var(--app-pane-padding) * 2) var(--app-pane-padding);
    }

    > div.invalid {
      display: none;
      box-sizing: border-box;
      background-color: var(--color-error);
      padding: calc(var(--app-pane-padding) / 2) var(--app-pane-padding);
      color: #fff;
      line-height: 1.5em;
    }

    form {
      box-sizing: border-box;
      width: 100%;
      padding: calc(var(--app-pane-padding) * 2) var(--app-pane-padding) var(--app-pane-padding) var(--app-pane-padding);

      .yuv-button-bar {
        padding-top: calc(var(--app-pane-padding) * 2);
        .buttons {
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: flex-end;
          padding-top: var(--app-pane-padding);
        }
      }
    }
  }
  yuv-icon.logo {
    width: 150px;
    height: auto;
  }

  &.invalid .login {
    > div.invalid {
      display: block;
    }
  }

  // device flow login
  .device-flow-login {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    animation: loginDialogBackdropAppear 1000ms;

    .dialog {
      width: 90%;
      min-width: 500px;
      height: 90%;
      display: flex;
      flex-flow: column;
      animation: loginDialogBoxAppear 300ms;

      .head {
        flex: 0;
        background-color: var(--color-primary);
        color: #fff;
        padding: calc(var(--app-pane-padding) / 2);
        display: flex;
        justify-content: flex-end;
      }
      iframe {
        flex: 1;
      }
    }
  }

  @keyframes loginDialogBackdropAppear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes loginDialogBoxAppear {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
