:host {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .login {
    max-width: 350px;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;

    > div.invalid {
      width: 100%;
      box-sizing: border-box;
      background-color: var(--color-error);
      border-radius: 2px;
      padding: calc(var(--app-pane-padding) / 2);
      color: #fff;
      opacity: 0;
      margin: 1em 0;
      line-height: 1.5em;
    }

    form {
      background-color: #fff;
      box-sizing: border-box;
      width: 100%;
      padding: var(--app-pane-padding);

      .buttons {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: flex-end;
        padding-top: var(--app-pane-padding);
      }
    }
  }
  yuv-icon.logo {
    color: #fff;
    width: 300px;
    height: auto;
  }

  &.invalid .login {
    > div.invalid {
      opacity: 1;
    }
  }

  // device flow login
  .device-flow-login {
    position: absolute;
    left:0; top:0; right:0; bottom:0;
    background-color: rgba(0,0,0,.4);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    animation: loginDialogBackdropAppear 1000ms;

    .dialog {
      box-shadow: 0 0 10px 0 rgba(0,0,0,.4);
      width: 90%;
      min-width: 500px;
      height: 90%;
      display: flex;
      flex-flow: column;
      animation: loginDialogBoxAppear 300ms;

      .head {
        flex: 0;
        background-color: var(--color-primary);
        color: #fff;
        padding: calc(var(--app-pane-padding)/2);
        display: flex;
        justify-content: flex-end;
      }
      iframe {
        flex: 1
      }
    }
  }

  @keyframes loginDialogBackdropAppear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes loginDialogBoxAppear {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
