<yuv-icon class="logo" [iconSrc]="'assets/default/theme/splash.svg'"></yuv-icon>

<div class="login">
  <div class="invalid" translate>eo.state.login.msg.invalid</div>

  <form class="panel" (ngSubmit)="login()" #loginForm="ngForm">

    <yuv-form-input label="host" *ngIf="deviceFlow.active">
      <yuv-string name="host" [(ngModel)]="form.host"></yuv-string>
    </yuv-form-input>

    <yuv-form-input label="{{'eo.state.login.tenant'|translate}}">
      <yuv-string name="tenant" [(ngModel)]="form.tenant" [required]="true"></yuv-string>
    </yuv-form-input>

    <div class="yuv-button-bar">
      <button class="primary" [ngClass]="{spinning: loading}" [disabled]="loading"
        translate>eo.state.login.submit</button>
    </div>

  </form>
</div>

<!-- iframe to show the login page for the devoce flow login strategy -->
<div class="device-flow-login" *ngIf="deviceFlow.loginPageUri">
  <div class="dialog">
    <div class="head">
        <yuv-icon [iconSrc]="'assets/default/svg/ic_close.svg'" (click)="cancelLogin()"></yuv-icon>
    </div>
    <iframe [src]="deviceFlow.loginPageUri" frameborder="0"></iframe>
  </div>
</div>