<div class="testing-controls">
  <!-- <button (click)="setDmsObjectInput()">Set dmsObject input</button>
  <button (click)="contentDmsObjectInput()">with content</button>
  <button (click)="clearDmsObjectInput()">NULL dmsObject input</button>
  <button (click)="clearDmsObjectInput()">Invalid dmsObject input</button>
  <button (click)="showExtras = !showExtras">toggle extras</button> -->
</div>

<div class="cmp">
  <yuv-accordion (open)="openChanged($event)" [selected]="selected" [header]="'My Accordion'">
    <p>Lorem ipsum dolor</p>
  </yuv-accordion>
</div>
