<ng-container [yuvTitle]="('yuv.client.state.about.title' | translate) + ' ' + ('yuv.client.state.title' | translate)">
</ng-container>
<div class="yuv-about-state">
  <div class="about">
    <div class="header themeBackground">
      <div id="logo-big"></div>
    </div>

    <div class="body">
      <div class="claim">
        <p [innerHTML]="'yuv.client.state.about.claim' | translate"></p>
      </div>

      <div class="links">
        <a *ngIf="docuLink" href="{{ docuLink }}" target="_blank"
          translate>yuv.client.state.about.documentation.link.label</a>
      </div>

      <div class="info">
        <ng-container class="details__product" *ngFor="let details of ctrl | async">
          <div class="{{ details.entry }}_label label">{{ details.label }}</div>
          <div class="{{ details.entry }}_text text">{{ details.value }}</div>
        </ng-container>
      </div>
      <div class="licenses">
        <div class="licenses_headline" translate>yuv.client.state.about.license.title</div>
        <p class="licenses_intro" translate>yuv.client.state.about.license.intro</p>
        <div class="licenses_content">


          <p-accordion [expandIcon]="'pi pi-fw pi-chevron-down'" [collapseIcon]="'pi pi-fw pi-chevron-up'">

            <p-accordionTab [transitionOptions]="'0ms'" header="{{'yuv.client.state.about.license.title'|translate}}">

              <div class="lic-row" *ngFor="let lib of __libraries__ | async">
                <div class="name">{{ lib.name }}</div>
                <div class="licence" *ngIf="lib.license">
                  <a [href]="lib.link" *ngIf="lib.link" target="_blank">{{ lib.label }}</a>
                  <span *ngIf="!lib.link">{{ lib.license }}</span>
                </div>
              </div>

            </p-accordionTab>
          </p-accordion>
        </div>
      </div>
    </div>
  </div>
</div>