<div class="testing-controls">
    <button (click)="enableTemplates = !enableTemplates">Toggle templates</button>
    <div class="status">Component <span>{{sequenceListIsInEditMode ? 'is' : 'is not'}}</span> in edit mode.</div>
</div>
<div class="cmp">
    <yuv-sequence-list [templatesEnabled]="enableTemplates" [(ngModel)]="sequenceList" (itemEdit)="onItemEdit($event)"
        (ngModelChange)="onModelChange()">
    </yuv-sequence-list>

    <!-- <div class="buttons">
        <button class="secondary" (click)="sequenceList = []">Reset</button>
        <button class="primary" [disabled]="sequenceListIsInEditMode">Save</button>
    </div> -->
</div>