<div class="timeline-entry" *ngFor="let entry of history">
  <div class="when">
      <div class="date">{{ entry.time | localeDate: 'eoShortDate' }}</div>
      <div class="time">{{ entry.time | localeDate: 'eoShortTime' }}</div>
  </div>
  <div
    class="marker"
    [ngClass]="{
      bpm: entry.group === 'PROCESS',
      mod: entry.group === 'MODIFICATION'
    }"
  ></div>
  <div class="what">
    <div class="title">
      <span>{{ entry.title }}</span>
      <!-- <a class="version" [routerLink]="'/versions/' + params.id" [queryParams]="{type: params.type, version: entry.version}">
        <span>{{'eo.object.history.version' | translate}} {{entry.version}}</span>
      </a> -->
    </div>

    <div class="description">{{ entry.description }}</div>
    <div class="comment">&quot;{{ entry.comment }}&quot;</div>

    <div class="meta">
      <span>{{ entry.user.lastname }}, {{ entry.user.firstname }} ({{entry.user.name}})</span>
    </div>

    <div class="bpm-meta" *ngIf="entry.parameter?.type === 'bpm'">
      <span *ngIf="entry.parameter.processName">
        <span translate>eo.object.history.workflowprocess</span>
        <span>'{{ entry.parameter.processName }}'</span>
      </span>
      <span *ngIf="entry.parameter.activityName">
        <span translate>eo.object.history.activity</span>
        <span>'{{ entry.parameter.activityName }}'</span>
      </span>
    </div>

  </div>
</div>
