<yuv-responsive-master-slave class="state" (slaveClosed)="onSlaveClosed()" [slaveActive]="dmsObject"
  [layoutOptionsKey]="layoutOptionsKey">
  <yuv-version-list class="yuv-master panel" [objectID]="dmsObjectID" [versions]="versions"
    (versionSelected)="versionSelected($event)" [layoutOptionsKey]="layoutOptionsKey">
  </yuv-version-list>

  <yuv-object-details class="yuv-slave panel" [dmsObject]="dmsObject" [panelOrder]="['summary', 'indexdata', 'preview']"
    [layoutOptionsKey]="!dmsObject2 ? layoutOptionsKey : ''" [ngClass]="{ 'changes-active': !!dmsObject2 }"
    [activeTabPanel]="dmsObject2 ? 'changes' : ''">
    <p-tabPanel [id]="'changes'" [header]="'yuv.client.state.versions.tabs.changes.title' | translate"
      [headerStyleClass]="'changes'" [disabled]="!dmsObject2">
      <ng-template pTemplate="content">
        <yuv-summary *ngIf="dmsObject2" [compareObjects]="[dmsObject, dmsObject2]" [showExtrasSection]="userIsAdmin">
        </yuv-summary>
      </ng-template>
    </p-tabPanel>
  </yuv-object-details>
</yuv-responsive-master-slave>