<ng-container [yuvTitle]="('yuv.client.state.versions.header.title' | translate)"></ng-container>
<yuv-responsive-master-slave class="state" (slaveClosed)="onSlaveClosed()" [slaveActive]="dmsObject || compare"
  [layoutOptionsKey]="layoutOptionsKey">
  <yuv-version-list class="yuv-master panel" #versionList [objectID]="dmsObjectID" [versions]="versions"
    (editRecentClick)="onEditRecentClick($event)" (selectionChange)="versionSelected($event)"
    [layoutOptionsKey]="layoutOptionsKey">
  </yuv-version-list>

  <div class="yuv-slave panel">

    <yuv-object-details-compare *ngIf="compare; else tplSingle" [objectCompareInput]="compare"
      [activeVersion]="versionList?.activeVersion" [layoutOptionsKey]="layoutOptionsKey + '.changes'"
      [plugins]="pluginsCompare">
    </yuv-object-details-compare>


    <ng-template #tplSingle>
      <div class="version">{{dmsObject?.version}}</div>
      <yuv-object-details [disableFileDrop]="true" [dmsObject]="dmsObject" [plugins]="plugins"
        [excludeObjectActions]="['yuv-taskflow-action', 'yuv-follow-up-action']"
        [activeVersion]="versionList?.activeVersion" [panelOrder]="['summary', 'indexdata', 'preview']"
        [layoutOptionsKey]="layoutOptionsKey">
      </yuv-object-details>
    </ng-template>

  </div>
</yuv-responsive-master-slave>