:host-context(.screen-s) {
  // justify-content: flex-start;
  // width: 100vw;
  // padding-top: calc(var(--app-bar-height) + calc(var(--app-pane-padding) * 3));

  .top {
    justify-content: flex-start;
  }
}

:host {
  display: flex;
  flex-flow: column;
  height: 100%;
  padding-top: var(--app-bar-height);
  box-sizing: border-box;

  .top {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: calc((100vh / 4) - var(--app-bar-height));
    padding: var(--app-pane-padding);
    flex: 1;
  }
  .bottom {
    flex: 0;

    yuv-recent-activities::ng-deep {
      background-color: transparent;
      padding: 0;

      .header {
        padding: calc(var(--app-pane-padding) / 2) var(--app-pane-padding);
        background-color: rgba(255, 255, 255, 0.6);
        margin: 0;
        display: flex;
        justify-content: center;
        order: 2;

        .dark & {
          background-color: rgba(0, 0, 0, 0.2);
        }
        .tabs {
          flex: 0 0 auto;
        }
      }
      .outer {
        padding-bottom: calc(var(--app-pane-padding) / 2);
        display: flex;
        justify-content: center;

        drag-scroll {
          display: flex;
          justify-content: center;
          padding: var(--app-pane-padding);
        }
      }
      yuv-recent-acitivities-item {
        &:first-child {
          margin-left: var(--app-pane-padding);
        }
      }
    }
  }

  .aggs {
    position: absolute;
    left: 0;
    top: var(--app-bar-height);
    bottom: calc(4 * var(--app-bar-height));
    animation: yuvFadeInLeft 200ms;
    display: flex;
    flex-flow: column;
    overflow: auto;

    .container {
      margin: auto;
      > div {
        display: flex;
        align-items: center;
        padding: var(--app-pane-padding);
        .label {
          order: 1;
          padding: var(--app-pane-padding);
          font-size: var(--font-title);
          opacity: 0.5;
        }
        .count {
          font-size: var(--font-display);
          order: 0;
        }

        &:hover {
          color: var(--color-accent);
          cursor: pointer;
        }
      }
    }
  }
}
