:host-context(.screen-s) {
  // justify-content: flex-start;
  // width: 100vw;
  // padding-top: calc(var(--app-bar-height) + calc(var(--app-pane-padding) * 3));

  .top {
    justify-content: flex-start;
  }
}

:host {
  display: flex;
  flex-flow: column;
  height: 100%;
  padding-top: var(--app-bar-height);
  box-sizing: border-box;

  .top {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: var(--app-pane-padding);
    flex: 1;
  }
  .bottom {
    flex: 0;

    yuv-recent-activities::ng-deep {
      .header {
        padding: var(--app-pane-padding);
        background-color: var(--panel-background);
      }
      .outer {
        padding: 0 var(--app-pane-padding);
      }
      .drag-scroll-content {
        display: flex !important;
        justify-content: center;
      }
    }
  }

  .aggs {
    position: absolute;
    left: 0;
    top: var(--app-bar-height);
    bottom: 0;
    animation: yuvFadeInLeft 200ms;
    display: flex;
    flex-flow: column;
    justify-content: space-around;

    > div {
      display: flex;
      align-items: center;
      padding: var(--app-pane-padding);
      .label {
        order: 1;
        padding: var(--app-pane-padding);
        font-size: var(--font-title);
        opacity: 0.5;
      }
      .count {
        font-size: var(--font-display);
        order: 0;
      }

      &:hover {
        color: var(--color-accent);
        cursor: pointer;
      }
    }
  }
}
