<ng-container [ngSwitch]="dashboardConfig?.dashboardType" *ngIf="!busy; else tplBusy">
  <yuv-dashboard-default *ngSwitchCase="'default'"></yuv-dashboard-default>
  <yuv-widget-grid-workspaces *ngSwitchCase="'widgets'" [workspaceConfig]="workspaceConfig" [options]="workspaceOptions"
    (gridItemEvent)="onGridEvent($event)" (configChange)="onWorkspacesConfigChange($event)">
  </yuv-widget-grid-workspaces>
</ng-container>

<ng-template #tplBusy>
  <div class="busy">
    <div class="yuv-loader-straight"></div>
  </div>
</ng-template>