@import '~@yuuvis/framework/framework.css';
@import 'scss/main';

:root {
  --theme-transparent-app-bar-color: var(--color-primary);
  --theme-background: url('assets/default/theme/bgr-dashboard.jpg');
  --theme-nav-header: url('assets/default/theme/bgr_sidebar.jpg');
}
body.dark {
  --theme-transparent-app-bar-color: var(--text-color-caption);
  --theme-background: url('assets/default/theme/bgr-dashboard.dark.jpg');
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  font-size: var(--font-body);
  color: var(--text-color-body);
}

.themeBackground {
  background-image: var(--theme-background);
  background-position: center center;
  background-size: cover;
}
