.chip {
  display: inline-block;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0 3px;
  color: var(--text-color-caption);
  margin: 1px 0;
  margin-right: 2px;
}

.button {
  &.refresh-button,
  &.actions-button {
    &:hover {
      cursor: pointer;
    }
  }
}

.icon {
  &.light svg {
    fill: white;
  }
}
