.ag-theme-yuv {
  font-size: var(--font-body);
  background-color: transparent;
  color: var(--text-color-body);

  .ag-root-wrapper {
    border: 0;
    background-color: transparent;
  }

  .ag-header {
    // background-color: var(--panel-background-grey);
    background-color: var(--panel-background);
    border-bottom: 1px solid var(--panel-divider-color);
  }

  .ag-row-drag {
    color: var(--text-color-caption);
  }

  .ag-header-cell,
  .ag-header-icon {
    color: var(--text-color-caption);

    .ag-cell-label-container {
      padding: 0 calc(var(--app-pane-padding) / 2);
    }
  }
  .ag-row {
    border-color: var(--panel-divider-color);
    color: var(--text-color-body);

    &.ag-row-odd:not(.ag-row-selected),
    &.ag-row-even:not(.ag-row-selected) {
      background-color: transparent;
    }

    svg {
      fill: currentColor;
      width: 24px;
      height: 24px;
      opacity: 0.54;

      &.checkbox .null {
        opacity: 0.4;
      }
    }
  }

  .ag-row-odd {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .ag-row-hover {
    background-color: var(--panel-background-lighgrey);
  }
  .ag-row-selected {
    background-color: var(--item-selected-background-color);
  }

  .ag-cell {
    padding: 0 var(--app-pane-padding);
    display: flex;
    align-items: center;
    border: 1px solid transparent;

    &.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(.ag-cell-range-single-cell) {
      border-right-color: var(--panel-divider-color);
    }

    &.ag-cell-focus {
      background-color: var(--item-focus-background-color);
      outline: 0 !important;
      border-color: transparent !important;
    }

    &.res-ico,
    &.col-boolean {
      justify-content: center;
    }
    &.col-decimal,
    &.col-integer {
      justify-content: flex-end;
    }
  }
}

// some styles for the cell renderers
table.cellrenderer-tags {
  border-collapse: collapse;
  background: var(--item-focus-background-color);
  border: 1px solid var(--item-focus-border-color);
  color: var(--text-color-caption);

  td:where(.tag, .state, .date) {
    display: none;
  }

  tr:not(:last-child) td {
    border-bottom: 1px solid var(--item-focus-border-color);
  }
  td {
    padding: 2px 4px;
    white-space: nowrap;
    font-size: var(--font-hint);
    &.tag {
      color: var(--text-color-body);
    }

    &:not(:last-child) {
      border-right: 1px solid var(--item-focus-border-color);
    }
  }
}

.admin table.cellrenderer-tags {
  td:where(.tag, .state, .date) {
    display: table-cell;
  }
}

// CHECKBOX cell renderer
.yuv-cr-checkbox {
  border: 2px solid var(--text-color-caption);
  border-radius: 2px;
  position: relative;
  width: 1.5em;
  height: 1.5em;

  &::after {
    position: absolute;
    content: ' ';
    background-color: var(--text-color-caption);
    height: 2px;
    width: 150%;
    transform: rotate(-45deg);
    top: calc(50% - 2px / 2);
    left: -25%;
  }

  &.true {
    &::after {
      transition: opacity 200ms ease-in-out;
      width: 20%;
      height: 50%;
      left: 35%;
      top: 10%;

      background-color: transparent;
      border: 2px solid var(--text-color-caption);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
  &.false {
    &::after {
      display: none;
    }
  }
}

.yc-indeterminate-questionmark .yuv-cr-checkbox:not(.false):not(.true) {
  &::after {
    opacity: 0;
  }
  &::before {
    content: '?';
    font-family: monospace;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1em;
    color: var(--text-color-caption);
    font-weight: bold;
  }
}
.yc-indeterminate-dash .yuv-cr-checkbox:not(.false):not(.true) {
  &::before {
    background-image: none;
  }
  &::after {
    content: ' ';
    opacity: 1;
    border: 0;
    background-color: var(--text-color-caption);
    height: 2px;
    width: 60%;
    transform: rotate(0deg);
    top: calc(50% - 1px);
    left: 20%;
  }
}

// SWITCH cell renderer
.yuv-cr-switch {
  --switch-handle-size: 0.6em;
  --switch-border-width: 2px;
  --switch-height: calc(var(--switch-handle-size) + (var(--switch-border-width) * 2) + (var(--switch-indent) * 2));
  --switch-width: calc(var(--switch-height) * 2);
  --switch-indent: 2px;

  border: var(--switch-border-width) solid var(--text-color-caption);
  border-radius: 1em;
  position: relative;
  width: var(--switch-width);
  height: var(--switch-height);

  &::after {
    position: absolute;
    border-radius: 50%;
    content: ' ';
    background-color: var(--text-color-caption);
    height: var(--switch-handle-size);
    width: var(--switch-handle-size);
    transform: translateX(calc((var(--switch-border-width) + calc(var(--switch-indent) * 2) + (var(--switch-handle-size) / 2)) * -1));
    background-color: var(--text-color-hint);
    top: var(--switch-indent);
    right: 0;
  }

  &.true {
    &::after {
      transform: translateX(calc(var(--switch-indent) * -1));
      background-color: var(--color-accent);
    }
  }
  &.false {
    &::after {
      right: 0;
      transform: translateX(calc((var(--switch-width) - var(--switch-handle-size) - (var(--switch-border-width) * 2) - var(--switch-indent)) * -1));
      background-color: var(--text-color-caption);
    }
  }
}

.ag-cell .due-date {
  display: block;
  padding: 0.25em;
  border-radius: 2px;
  background-color: var(--panel-divider-color);

  &.over-due {
    background-color: var(--color-error);
    color: #fff;
  }
}
