.yuv-loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--color-accent);
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;

  .dark & {
    border-color: rgba(255, 255, 255, 0.1);
    border-left-color: var(--color-accent);
  }

  &.large {
    width: 10em;
    height: 10em;
    border-width: 8px;
  }
  &.small {
    width: 2em;
    height: 2em;
    border-width: 2px;
  }
}
.yuv-loader,
.yuv-loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  border-width: 4px;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
