@import './../../../../../src/scss-shared/vars';

body {
  .ui-overlaypanel {
    border: none;

    &:after {
      border-bottom-color: var(--color-primary);
    }

    .ui-overlaypanel-content {
      padding: 0;
    }
  }

  .ui-dialog {
    .ui-dialog-content {
      padding: 0;
      border: 0;
    }
  }

  // chips
  .ui-chips {
    > ul.ui-inputtext {
      padding: 0;
      .ui-chips-token {
        font-size: var(--font-caption);
        padding: 2px;
        margin: 2px 2px 0 0;
        background: rgba(0, 0, 0, 0.03);
        color: var(--text-color-caption);
        border: 1px solid rgba(0, 0, 0, 0.15);
      }
    }
  }

  .ui-tabview {
    padding: 0;
    height: 100%;
  }

  .ag-theme-yuv .ag-cell {
    .title,
    .description {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 70vw;
    }
  }
}
