body {
  .ui-overlaypanel {
    border: none;

    &:after {
      border-bottom-color: var(--color-primary);
    }

    .ui-overlaypanel-content {
      padding: 0;
    }
  }

  .ui-dialog {
    .ui-dialog-content {
      padding: 0;
      border: 0;
    }
  }
}
