@import './../../../../../src/scss-shared/vars';

body {
  .ui-inputtext {
    color: var(--text-color-body);
  }

  .ui-widget {
    font-family: 'Roboto';
    font-size: var(--font-body);
  }

  // -------------------------------------------------------------------
  // primeng overlays
  // body .ui-overlaypanel:before
  .ui-overlaypanel {
    border: none;
    &::before,
    &::after {
      display: none;
    }

    .ui-overlaypanel-content {
      padding: 0;
    }
  }

  .ui-dialog {
    .ui-dialog-content {
      padding: 0;
      border: 0;
    }
  }

  // -------------------------------------------------------------------
  // primeng chips
  // body .ui-chips > ul.ui-inputtext .ui-chips-input-token input
  .ui-chips {
    > ul.ui-inputtext {
      padding: 0;

      .ui-chips-input-token input {
        font-family: 'Roboto';
        font-size: var(--font-body);
        color: var(--text-color-body);
      }

      .ui-chips-token {
        font-size: var(--font-caption);
        padding: 2px;
        margin: 2px 2px 0 0;
        background: var(--item-focus-background-color);
        color: var(--text-color-caption);
        border: 1px solid var(--item-focus-background-color);
      }
    }
  }

  // -------------------------------------------------------------------
  // primeng tabs
  $ui-tabs-border-size: 4px;
  .ui-tabview.ui-tabview-top {
    padding: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'nav' 'panel';

    .ui-tabview-title {
      padding: calc(var(--app-pane-padding) / 8) calc(var(--app-pane-padding) / 4);
      border-radius: $ui-tabs-border-size;
    }

    .ui-tabview-nav {
      margin-bottom: 1px;
      border-radius: 0;
      grid-area: nav;

      li {
        border-color: transparent;
        border-width: 0 0 $ui-tabs-border-size 0;
        border-style: solid;
        background-color: transparent;
        outline: 0;
        transition: border-color 200ms ease-in-out;

        a {
          padding: calc(var(--app-pane-padding) / 2) var(--app-pane-padding);
          font-weight: normal;
          color: var(--text-color-caption);
        }

        // active tab style
        &.ui-state-active {
          background-color: transparent;
          border-color: var(--color-accent);
          border-width: 0 0 $ui-tabs-border-size 0;

          &:hover {
            background-color: transparent;
            border-width: 0 0 $ui-tabs-border-size 0;
            border-color: var(--color-accent);

            a {
              color: var(--text-color-body);
            }
          }

          a {
            color: var(--text-color-body);
          }
        }

        &:focus {
          .ui-tabview-title {
            background-color: var(--panel-divider-color);
          }
        }

        // hover/focus state for inactive tabs
        &:not(.ui-state-active):not(.ui-state-disabled) {
          &:hover {
            border-color: var(--panel-divider-color);
            border-width: 0 0 $ui-tabs-border-size 0;
            background-color: transparent;

            a {
              color: var(--text-color-caption);
            }
          }
        }

        .ui-tabview-close {
          color: var(--text-color-caption) !important;
        }
      }
    }

    .ui-tabview-panels {
      grid-area: panel;
      border-width: 1px 0 0 0;
      border-color: var(--panel-divider-color);
      color: var(--text-color-body);
      padding: 0;
    }
  }

  // -------------------------------------------------------------------
  // primeng checkbox
  $ui-checkbox-border-color: var(--text-color-body);
  $ui-checkbox-background-color: var(--panel-divider-color);

  .ui-chkbox {
    margin: 0;
    width: 1em;
    height: 1em;
    font-size: 20px;

    .ui-chkbox-box {
      background-color: $ui-checkbox-background-color;
      width: 100%;
      height: 100%;
      outline: 0;
      border-radius: 0;
      line-height: 16px;
      border: 2px solid transparent;
      color: var(--text-color-caption);

      .ui-chkbox-icon {
        display: flex;
        width: 100%;
        height: 100%;
        flex-flow: column;
        justify-content: center;
        font-size: 1.2em;

        &.pi-times::before {
          // hide the 'x' for false state
          content: '';
        }
      }
      .fa {
        transition: none;
      }
      .fa-close {
        display: none;
      }

      // active
      &.ui-state-active {
        background-color: $ui-checkbox-background-color;
        color: $ui-checkbox-border-color;
        border-color: $ui-checkbox-border-color;

        &:not(.ui-state-disabled):hover {
          border-color: $ui-checkbox-border-color;
          background-color: $ui-checkbox-background-color;
          color: $ui-checkbox-border-color;
        }
      }

      &:not(.ui-state-disabled):hover {
        border-color: transparent;
      }

      // focused state
      &.ui-state-focus {
        box-shadow: none;
        border-color: var(--color-accent);
        background-color: $ui-checkbox-background-color;

        // focus while also active
        &.ui-state-active {
          background-color: $ui-checkbox-background-color;
          color: var(--color-accent);
          border-color: var(--color-accent);
        }
      }
    }
  }
  // // darkmode overrides
  // .dark {
  //   .ui-chkbox .ui-chkbox-box {
  //     background-color: $ui-checkbox-background-color-dark;

  //     &.ui-state-active {
  //       background-color: $ui-checkbox-background-color-dark;
  //       color: $ui-checkbox-border-color-dark;
  //       border-color: $ui-checkbox-border-color-dark;

  //       &:not(.ui-state-disabled):hover {
  //         border-color: $ui-checkbox-border-color-dark;
  //         background-color: $ui-checkbox-background-color-dark;
  //         color: $ui-checkbox-border-color-dark;
  //       }
  //     }
  //     &.ui-state-focus.ui-state-active {
  //       background-color: $ui-checkbox-background-color-dark;
  //     }
  //   }
  // }

  // -------------------------------------------------------------------
  // ag-grid related overrides
  .ag-theme-yuv {
    .ag-cell {
      .title,
      .description {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 70vw;
      }
    }
  }
}
