::ng-deep {
  .ui-sidebar {
    color: white;
    padding: 0;
    background-color: var(--color-primary);
  }
}

header {
  width: 260px;
  height: 200px;
  background-color: var(--color-accent);
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  grid-template-rows: 1fr 1fr min-content;
  grid-template-areas:
    'top top'
    'logo logo'
    'label about';
  background: url('../../../assets/default/theme/bgr_sidebar.jpg') no-repeat;
  background-size: cover;
}

.logo {
  grid-area: logo;
  align-self: end;
  justify-self: end;
  fill: white;
  text-align: center;
  width: 200px;
  height: 60px;
  margin-right: 5px;
}

.top {
  grid-area: top;
  margin-left: 5px;
  margin-top: 5px;
}

.label {
  grid-area: label;
  align-self: end;
  justify-self: start;
  .content {
    text-indent: 5px;
    border-bottom: 3px white solid;
    margin: 0;
    line-height: 1.5;
    padding-right: 5px;
  }
}

.about {
  grid-area: about;
  margin-right: 5px;
  margin-bottom: 5px;
  align-self: end;
  justify-self: end;
}

.navigation-list {
  padding-top: var(--font-subhead);
  background-color: var(--color-primary);

  .nav-item {
    border-bottom: 1px solid var(--panel-divider-color);
    a {
      color: var(--color-white);
      padding: var(--app-pane-padding);
      display: block;
      cursor: pointer;
      text-decoration: none;
      transition: all var(--app-default-transition-duration) ease-in-out;

      &:hover {
        background-color: var(--panel-divider-color);
      }
    }
  }
}
