<yuv-sidebar>
    <header class="grid-container">
        <div class="top">
          <yuv-icon (click)="hide()" class="button white close" [iconSrc]="'assets/default/svg/ic_close.svg'"></yuv-icon>
        </div>
        <div class="logo">
  
        </div>
        <div class="label">
          <p class="content" translate>eo.sidebar.navigation.title</p>
        </div>
        <div class="about">
          <yuv-icon 
            (click)="navigate('about')"
            alt="Big scary monster" 
            class="button white about" 
            [iconSrc]="'assets/default/theme/ic_about.svg'">
          </yuv-icon>
        </div>
      </header>
  
    <section class="navigation-list">
      <div class="nav-item">
        <a (click)="navigate('favorites')">
          Favoriten
        </a>
      </div>

    </section>

</yuv-sidebar>