<div class="settings panel">
    <div class="head">
        <yuv-user-avatar class="background" [user]="user"></yuv-user-avatar>
        <div class="user">
            <div class="meta">{{user?.username}}</div>
            <h1>{{user?.title}}</h1>
            <div class="meta">{{user?.email}}</div>
        </div>
        <yuv-user-avatar class="box panel" [user]="user"></yuv-user-avatar>
    </div>
    <div class="body">
        <div class="body-wrap">


            <button (click)="lang('de')">de</button>
            <button (click)="lang('en')">en</button>
            <h3 translate>eo.state.settings.deputies</h3>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
        </div>
    </div>
</div>