<div class="settings panel">
    <div class="head">
        <yuv-user-avatar class="background" [user]="user"></yuv-user-avatar>
        <div class="user">
            <div class="meta">{{user?.username}}</div>
            <h1>{{user?.title}}</h1>
            <div class="meta">{{user?.email}}</div>
        </div>
        <yuv-user-avatar class="box panel" [user]="user"></yuv-user-avatar>
    </div>
    <div class="body">
        <div class="body-wrap">

            <div class="setting">
                <div class="label" translate>eo.state.settings.language</div>
                <div class="value">
                        <button class="toggle" (click)="changeClientLocale(locale.iso)"
                        [ngClass]="{active: translate.currentLang === locale.iso}"
                        *ngFor="let locale of clientLocales">{{locale.label}}</button>
                </div>
            </div>



            <h3 translate>eo.state.settings.deputies</h3>
        </div>
    </div>
</div>