<div class="settings panel">
    <div class="head">
        <yuv-user-avatar class="background" [user]="user$ | async"></yuv-user-avatar>
        <div class="user">
            <div class="meta">{{(user$ | async).username}}</div>
            <h1>{{(user$ | async).title}}</h1>
            <div class="meta">{{(user$ | async).email}}</div>
        </div>
        <yuv-user-avatar class="box panel" [user]="user$ | async"></yuv-user-avatar>
    </div>
    <div class="body">
        <div class="body-wrap">

            <div class="setting">
                <div class="label" translate>yuv.client.state.settings.language</div>
                <div class="value">
                    <button class="toggle" (click)="changeClientLocale(locale.iso)"
                        [ngClass]="{active: translate.currentLang === locale.iso}"
                        *ngFor="let locale of clientLocales">{{locale.label}}</button>
                </div>
            </div>

            <!-- permissions -->
            <div class="permissions__settings">
                <div class="label" translate>yuv.client.state.settings.permission</div>
                <div class="content">
                    <yuv-accordion [header]="'yuv.client.state.settings.roles' | translate">
                        <div class="role" *ngFor="let role of (user$ | async).authorities">
                            <yuv-icon class="icon" [iconSrc]="'assets/default/svg/ic_shield.svg'"></yuv-icon>
                            <div class="name">{{role}}</div>
                        </div>
                    </yuv-accordion>
                </div>
            </div>

            <h3>Theme</h3>

            <div class="setting">
                <div class="label">UI</div>
                <div class="value">
                    <button class="toggle" [ngClass]="{primary: darkMode}" (click)="toggleDarkMode(!darkMode)">DARK
                        MODE</button>
                </div>
            </div>

            <div class="setting">
                <div class="label">AC</div>
                <div class="value">

                    <span class="color accent" *ngFor="let ac of accentColorRGB"
                        [ngClass]="{active: ac === accentColor}" [ngStyle]="{'background-color': 'rgb(' + ac + ')'}"
                        (click)="setAccentColor(ac)"></span>
                    <span class="color clear" *ngIf="accentColor" (click)="setAccentColor(null)">x</span>
                </div>
            </div>

            <div class="setting">
                <div class="label">BG</div>
                <div class="value">
                    <input type="file" (change)="setBackgroundImage($event)">
                    <button *ngIf="customDashboardBackground" (click)="setBackgroundImage(null)">clear</button>
                </div>
            </div>

        </div>
    </div>
</div>