<ng-container [yuvTitle]="'yuv.client.state.follow-ups.title' | translate"></ng-container>

<section class="processes-wrapper" *ngIf="processData$ | async as processData">
  <yuv-responsive-master-slave class="state" [layoutOptionsKey]="layoutOptionsKey" [slaveActive]="!!selectedFollowUp" (slaveClosed)="onSlaveClosed()">
    <yuv-process-list
      class="yuv-master panel"
      [showFooter]="true"
      [headerDetails]="headerDetails"
      [yuvBusyOverlay]="loading$ | async"
      [layoutOptionsKey]="layoutOptionsKey"
      [processData]="processData"
      (refreshList)="refreshList()"
      (selectedItem)="selectedItem($event)"
      (termFilterChange)="onTermFilterChange($event)"
    ></yuv-process-list>
    <section class="yuv-slave panel">
      <yuv-follow-up-details [layoutOptionsKey]="layoutOptionsKey" [plugins]="plugins" (removeFollowUp)="removeFollowUp($event)" [process]="selectedFollowUp">
      </yuv-follow-up-details>
    </section>
  </yuv-responsive-master-slave>
</section>
