<div class="app-bar" *ngIf="!hideAppBar">
    <yuv-icon class="btn" id="drawer" routerLink="/settings" [iconSrc]="'assets/default/svg/ic_drawer.svg'"></yuv-icon>
    <yuv-icon class="btn" id="logo" routerLink="/" [iconSrc]="'assets/default/theme/logo.svg'"></yuv-icon>

    <div class="main">
        <yuv-icon class="btn" [iconSrc]="'assets/default/svg/ic_search.svg'"></yuv-icon>
    </div>
    <div class="right">
        <yuv-icon class="btn"routerLink="/result"  [iconSrc]="'assets/default/svg/ic_favorite.svg'"></yuv-icon>
        <div class="user" (click)="op.toggle($event)">
            <yuv-user-avatar [user]="user"></yuv-user-avatar>            
        </div>

        <p-overlayPanel #op>
            <div class="user-panel">
                <div class="avatar" [ngClass]="{enabled: user?.enabled}">
                    <yuv-user-avatar [user]="user"></yuv-user-avatar>
                    <div class="user-title">
                        <yuv-icon [iconSrc]="'assets/default/svg/ic_user_disabled.svg'"></yuv-icon>
                        <div>
                            <span>{{user?.title}}</span>
                            <span class="email" title="{{user?.email}}">{{user?.email}}</span>
                        </div>
                    </div>
                </div>
                <div class="nav-item settings" (click)="op.hide()">
                    <a routerLink="/settings" translate>eo.bar.button.settings.title</a>
                  </div>
                  <div class="nav-item logout">
                    <a [routerLink]="['/enter', { logout: true }]" translate>eo.bar.button.logout.title</a>
                  </div>
            </div>
        </p-overlayPanel>
    </div>
</div>
<div class="app-content">
    <router-outlet></router-outlet>
</div>