<div class="app-bar" *ngIf="!hideAppBar">
  <yuv-icon class="btn" id="drawer" (click)="showSideBar = true" replaceUrl
    [iconSrc]="'assets/default/svg/ic_drawer.svg'"></yuv-icon>
  <a routerLink="/" id="logo">
    <yuv-icon class="btn" [iconSrc]="'assets/default/theme/logo.svg'"></yuv-icon>
  </a>
  <div class="main">
    <!-- <yuv-icon class="btn" [iconSrc]="'assets/default/svg/ic_search.svg'"></yuv-icon> -->
  </div>
  <div class="right">
    <!-- <yuv-icon class="btn"routerLink="/result"  [iconSrc]="'assets/default/svg/ic_favorite.svg'"></yuv-icon> -->
    <div class="user" (click)="op.toggle($event)">
      <yuv-user-avatar [user]="user"></yuv-user-avatar>
    </div>

    <p-overlayPanel #op>
      <div class="user-panel">

        <div class="update" *ngIf="swUpdateAvailable" (click)="updateWorker()">Update available</div>


        <div class="avatar" [ngClass]="{ enabled: user?.enabled }">
          <yuv-user-avatar [user]="user"></yuv-user-avatar>
          <div class="user-title">
            <yuv-icon [iconSrc]="'assets/default/svg/ic_user_disabled.svg'"></yuv-icon>
            <div>
              <span class="usertitle">{{ user?.title }}</span>
              <span class="email" title="{{ user?.email }}">{{ user?.email }}</span>
            </div>
          </div>
        </div>
        <div class="nav-item settings" (click)="op.hide()">
          <a routerLink="/settings" translate>yuv.client.state.settings.title</a>
        </div>
        <div class="nav-item logout">
          <a [routerLink]="['/enter', { logout: true }]" translate>yuv.client.frame.app-bar.logout</a>
        </div>
      </div>
    </p-overlayPanel>
  </div>
</div>
<div class="app-content">
  <router-outlet></router-outlet>
</div>

<yuv-sidebar [display]="showSideBar" (hide)="showSideBar = false">
  <section class="content navigation-list">
    <div class="nav-item">
      <a (click)="navigate('about')" translate>yuv.client.state.about.title</a>
    </div>
  </section>
</yuv-sidebar>