<!-- PWA update indicator -->
<div class="pwa-update" *ngIf="!swUpdateAvailable">
  <span>{{'yuv.client.frame.app-bar.pwa-update.msg' | translate}}</span>
  <yuv-icon class="btn" [iconSrc]="'assets/default/svg/ic_refresh.svg'" (click)="reload()"></yuv-icon>
  <yuv-icon class="btn close" [iconSrc]="'assets/default/svg/ic_close.svg'"
    (click)="swUpdateAvailable = !swUpdateAvailable"></yuv-icon>
</div>

<ng-container *ngIf="user; else offlineNoUser">
  <div class="app-bar" *ngIf="!hideAppBar">

    <yuv-icon class="btn" id="drawer" (click)="showSideBar = true" replaceUrl
      [iconSrc]="'assets/default/svg/ic_drawer.svg'"></yuv-icon>
    <a yuvOfflineDisabled routerLink="/" id="logo">
      <yuv-icon class="btn" [iconSrc]="'assets/default/theme/app.icon.svg'"></yuv-icon>
    </a>
    <div yuvOfflineDisabled class="main">
      <yuv-icon class="btn" routerLink="/create" [title]="'yuv.framework.object-create.header.title' | translate"
        [iconSrc]="'assets/default/svg/ic_add.svg'"></yuv-icon>
    </div>
    <div class="right">

      <!-- PWA update indicator -->
      <div class="pwa-update" *ngIf="swUpdateAvailable">
        <span>{{'yuv.client.frame.app-bar.pwa-update.msg' | translate}}</span>
        <yuv-icon class="btn" [iconSrc]="'assets/default/svg/ic_refresh.svg'" (click)="reload()"></yuv-icon>
        <yuv-icon class="btn close" [iconSrc]="'assets/default/svg/ic_close.svg'"
          (click)="swUpdateAvailable = !swUpdateAvailable"></yuv-icon>
      </div>

      <yuv-upload-progress-overlay (resultItemClick)="onResultItemClick($event)"></yuv-upload-progress-overlay>
      <yuv-icon *ngIf="offline" class="offline-icon" [svg]="offlineSVG" title="offline"></yuv-icon>
      <div yuvOfflineDisabled class="user" (click)="op.toggle($event)">
        <yuv-user-avatar [user]="user"></yuv-user-avatar>
      </div>

      <p-overlayPanel #op>
        <div class="user-panel">
          <div class="avatar" [ngClass]="{ enabled: user?.enabled }">
            <yuv-user-avatar [user]="user"></yuv-user-avatar>
            <div class="user-title">
              <yuv-icon [iconSrc]="'assets/default/svg/ic_user_disabled.svg'"></yuv-icon>
              <div>
                <span class="usertitle">{{ user?.title }}</span>
                <span class="email" title="{{ user?.email }}">{{ user?.email }}</span>
              </div>
            </div>
          </div>
          <div class="nav-item settings" (click)="op.hide()">
            <a routerLink="/settings" translate>yuv.client.state.settings.title</a>
          </div>
          <div class="nav-item logout">
            <!-- <a [routerLink]="['/enter', { logout: true }]" translate>yuv.client.frame.app-bar.logout</a> -->
            <a href="logout" (click)="logout($event)" translate>yuv.client.frame.app-bar.logout</a>
          </div>
        </div>
      </p-overlayPanel>
    </div>
  </div>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

  <yuv-sidebar [display]="showSideBar" (hide)="showSideBar = false">
    <section class="content navigation-list">
      <div class="nav-item">
        <a routerLink="dashboard" routerLinkActive="active" (click)="showSideBar = false"
          translate>yuv.client.state.dashboard.title</a>
        <a routerLink="create" routerLinkActive="active" (click)="showSideBar = false"
          translate>yuv.client.state.create.title</a>
        <a routerLink="settings" routerLinkActive="active" (click)="showSideBar = false"
          translate>yuv.client.state.settings.title</a>
        <a routerLink="about" routerLinkActive="active" (click)="showSideBar = false"
          translate>yuv.client.state.about.title</a>
      </div>
    </section>
  </yuv-sidebar>
</ng-container>

<ng-template #offlineNoUser>
  <div class="offline-no-user" *ngIf="offline">
    <yuv-icon class="logo" [iconSrc]="'assets/default/theme/splash.svg'"></yuv-icon>
    <yuv-icon class="offline" [svg]="offlineSVG"></yuv-icon>
  </div>
</ng-template>