@import '../../../../src/scss-shared/_mixins';
$user-panel-width: 180px;
$pwa-update-width: 200px;
$app-bar-zindex: 6;

:host {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--app-bar-height) 1fr;
  grid-template-areas: 'header' 'content';

  .pwa-update {
    position: absolute;
    width: $pwa-update-width;
    top: calc(var(--app-pane-padding) / 2);
    left: calc(50% - #{$pwa-update-width / 2});
    z-index: $app-bar-zindex + 1;
    display: flex;
    align-items: center;
    background-color: var(--color-accent);
    color: #fff;
    animation: yuvFadeInDown 200ms;
    padding: 2px;
    border-radius: 2px;
    span {
      padding: 0 calc(var(--app-pane-padding) / 2);
      flex: 1;
    }
    yuv-icon.close {
      box-sizing: border-box;
    }
  }

  .app-bar {
    grid-area: header;
    order: 1;
    z-index: $app-bar-zindex;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: calc((var(--app-bar-height) - 32px) / 4);
    color: var(--text-color-caption);
    background-color: var(--app-bar-background);
    border-bottom: 1px solid var(--panel-divider-color);

    .pwa-update {
      display: flex;
      align-items: center;
      background-color: var(--color-accent);
      color: #fff;
      animation: yuvFadeInDown 200ms;
      padding: 2px;
      border-radius: 2px;
      span {
        padding: 0 calc(var(--app-pane-padding) / 2);
      }
      yuv-icon.close {
        box-sizing: border-box;
      }
    }

    yuv-icon#drawer {
      padding: calc(((var(--app-bar-height) - 24px) / 2) - ((var(--app-bar-height) - 32px) / 4));
    }

    a#logo {
      color: currentColor;
      margin: 0 calc(var(--app-pane-padding) / 2);

      yuv-icon {
        width: 32px;
        padding: calc(((var(--app-bar-height) - 32px) / 2) - ((var(--app-bar-height) - 32px) / 4));
        height: auto;
        background-color: transparent;
      }
    }

    .main {
      flex: 1;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      padding: 0 calc(var(--app-pane-padding) * 0.5);

      yuv-icon {
        padding: calc(var(--app-pane-padding) / 2);

        &:hover {
          background-color: var(--color-accent);
          color: #fff;
        }
      }
    }

    .right {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      flex: 0 0 auto;

      .offline-icon {
        background-color: var(--color-accent);
        border-radius: 50%;
        color: #fff;
        width: 18px;
        height: 18px;
        padding: 8px;
        box-sizing: content-box;
        animation: offlinepulse 2s 3;
      }

      .user {
        border-radius: 50%;
        margin: 0 var(--app-pane-padding);
        width: 32px;
        height: 32px;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer;

        .overlay {
          position: absolute;
          right: 0;
          top: var(--app-bar-height);
          width: 180px;
        }
      }
    }
  }

  .app-content {
    order: 0;
    grid-area: content;
    background-color: var(--main-background);
    overflow-x: auto;
    height: 100%;
    width: 100vw;
    padding-top: var(--app-bar-height);
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .offline-no-user {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-background);

    .box {
      width: 300px;
      display: flex;
      flex-flow: column;
      align-items: center;

      h1 {
        font-size: var(--font-display);
        margin: 0 0 calc(var(--app-pane-padding) / 2) 0;
        font-weight: var(--font-weight-normal);
      }

      yuv-icon {
        width: 50%;
        height: auto;
        opacity: 0.2;
        margin: var(--app-pane-padding) 0;
      }
    }
  }

  yuv-sidebar .navigation-list {
    padding: var(--app-pane-padding) 0;

    .nav-item a {
      display: block;
      color: #fff;
      padding: var(--app-pane-padding);
      text-decoration: none;
      user-select: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      transition: background-color 200ms;
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      &.active {
        pointer-events: none;
        color: darken(#fff, 11%);
      }
    }
  }

  .user-panel {
    background-color: var(--color-primary);
    width: $user-panel-width;

    .avatar {
      height: $user-panel-width;
      display: flex;
      position: relative;
      background-color: rgba(255, 255, 255, 0.1);

      &.enabled {
        .user-title {
          opacity: 1;
          padding: calc(var(--app-pane-padding) / 2) calc(var(--app-pane-padding) / 2) calc(var(--app-pane-padding) / 2) var(--app-pane-padding);

          > yuv-icon {
            display: none;
          }
        }
      }

      yuv-user-avatar {
        flex: 1;

        &.initials ::ng-deep {
          div {
            font-size: $user-panel-width * 0.4;
            text-shadow: 0 0 $user-panel-width * 0.4 rgba(255, 255, 255, 1);
          }
        }
      }

      .user-title {
        position: absolute;
        opacity: 0.6;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.1);
        padding: calc(var(--app-pane-padding) / 2) calc(var(--app-pane-padding) / 2) calc(var(--app-pane-padding) / 2) 0;
        color: #fff;
        display: flex;
        align-items: center;

        > yuv-icon {
          margin: 0 calc(var(--app-pane-padding) / 2);
        }

        > div {
          display: flex;
          flex: 1;
          flex-flow: column;
          min-height: 0;
          min-width: 0;

          span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &.email {
              opacity: 0.7;
              margin-top: 4px;
              font-size: var(--font-hint);
            }
          }
        }
      }
    }

    .nav-item a {
      display: block;
      color: #fff;
      padding: calc(var(--app-pane-padding) / 2) var(--app-pane-padding);
      text-decoration: none;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
  }

  &.transparentAppBar {
    .app-bar {
      background-color: transparent;
      color: var(--theme-transparent-app-bar-color);
      border-color: transparent;

      .right .user {
        background-color: rgba(255, 255, 255, 0.5);
      }

      yuv-icon#drawer {
        border: none;
      }
    }
    .app-content {
      padding-top: 0;
    }
  }
}

@keyframes offlinepulse {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--color-accent-rgb), 0.7);
  }
  70% {
    box-shadow: 0 0 0 100px rgba(var(--color-accent-rgb), 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(var(--color-accent-rgb), 0);
  }
}
